<h2>News Category | Home > News Category</h2>
<div *ngIf="categories$ | async as categories">
  <div class="flex">
    <div class="my-auto">
      <button
        title="Add category"
        type="button"
        color="primary"
        mat-raised-button
        (click)="onActionTriggered({ type: actionType.CREATE, payload: null })"
      >
        Add New Category
      </button>
    </div>

    <div class="flex-auto"></div>

    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search" [formControl]="searchControl" />
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
  </div>

  <app-datatable
    [columns]="columns"
    [totalItems]="totalItems"
    [dataSource]="categories"
    [displayedColumns]="displayedColumn"
    [actions]="[actionType.EDIT, actionType.DELETE]"
    (onActionTriggered)="onActionTriggered($event)"
    (onPaginationChange)="onPaginationChange($event)"
  ></app-datatable>
</div>
