<nav
  aria-label="breadcrumb"
  *ngIf="breadcrumbItems"
  class="flex flex-col space-y-0.5 md:space-y-0 md:space-x-3 md:flex-row"
>
  <h1 class="font-bold uppercase">
    {{ breadcrumbItems[breadcrumbItems.length - 1].label }}
  </h1>

  <div class="border-b border-gray-300 md:border-r"></div>

  <ol class="flex">
    <li
      *ngFor="let breadcrumb of breadcrumbItems; let last = last"
      class="flex items-center text-xl leading-8 text-blue-500"
      [ngClass]="{ active: last }"
    >
      <a [routerLink]="last ? null : breadcrumb.url">{{ breadcrumb.label }}</a>
      <mat-icon
        *ngIf="!last"
        aria-hidden="false"
        aria-label="Breadcrumb Forward"
      >
        chevron_right
      </mat-icon>
    </li>
  </ol>
</nav>
