<h2 mat-dialog-title class="">What is this website used for?</h2>
<mat-dialog-content>
  <p>The author of this application often encounters errors related to:</p>
  <ul class="list-disc list-inside mb-2">
    <li>Consistency in the code</li>
    <li>Non-functional error</li>
    <li>Naming Convention</li>
    <li>etc.</li>
  </ul>
  <p>
    This is also a place to note tips, personal standards of what "good" code is
    like.
  </p>
  <p>
    Comparing code with this list before committing code can be considered a way
    of self-checking the quality of your code, thereby allowing coders to focus
    more on thinking logically without having to worry too much about minor bugs
    in the code.
  </p>
  <p>
    UI and ideas inspired by
    <a
      class="custom-normal-link"
      href="https://angular-checklist.io/projects"
      target="_blank"
      rel="noopener noreferrer"
      >Angular Checklist</a
    >.
  </p>
  <p>Developed by Tran Duc Phuong.</p>

  <!-- <p>
        This website is used to help you to keep track of your daily tasks.
        You can add tasks, mark them as done, and delete them.
    </p> -->
</mat-dialog-content>
