<h2 mat-dialog-title class="">News Management Demo App</h2>
<mat-dialog-content>
  <h3>Purpose of the project</h3>
  <p>This is a demo app for the News Management System.</p>

  <p>
    In this project, the words "items" and "news" are considered equal.
    Developers can use these two words interchangeably.
  </p>

  <h3>Main function</h3>
  <ul class="mb-2 list-disc list-inside">
    <li>List, Create, Update, Delete News (Items)</li>
    <li>List, Create, Update, Delete News Category</li>
    <li>Search, Sort, Filter Items by Status</li>
    <li>Search, Sort Categories</li>
  </ul>

  <h3>Technical Stack</h3>
  <ul class="mb-2 list-disc list-inside">
    <li>FE Frameword: Angular</li>
    <li>UI Libraries: Tailwind, Material Angular</li>
    <li>Mockup Server: json-server</li>
    <li>RTE: TinyMCE</li>
  </ul>

  <h3>Credit</h3>
  <p>Developed by Tran Duc Phuong.</p>
</mat-dialog-content>
